@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --inter: inter;
  --mt: 24px;
  --fs: 14px;
  --fs-lg: 22px;
  --md: 16px;

  /* color */
  --white: #ffffff;
  --dark-grey: #282828;
  --dark-grey2: #5f6980;
  --light-grey1: #5f6980;
  --light-grey2: #9d9fa1;
  --light-grey3: #f2f4f7;
  --dark-sea-black: #282828;
  --green-sea: #20c997;
  --light-green: #dcfff5;
  --light-red: #ffe0e3;
  --red: #dc3545;
  /* gap in flex */
  --sm-gap: 8px;
}

html,
body {
  height: 100%;
}
.container {
  position: relative;
  display: flex;
  height: 100%;
}
/* sidebar height */
.sidebar {
  position: absolute;
  top: 0px;
  left: -100%;
  bottom: 0px;
  overflow: hidden;
  height: 100%;
  transition: all 0.5s ease-in-out;
  /* transform: translateX(-100%); */
  background-color: var(--white);
  overflow: hidden;
}
.scroll-sidebar {
  height: 100%;
  overflow: auto;
}
.scroll-sidebar::-webkit-scrollbar {
  display: none;
}
/* manu content */
.menu-content {
  position: relative;
  border-right: 1px solid #eaecf0;
  width: 243px;
  height: 1024px;
}
.label {
  height: 30px;
}
.label .bar {
  height: 30px;
}
.brand-hambar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
}
.brand {
  width: 99px;
  height: 30px;
}
/* menu */
.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  position: absolute;
  height: 486px;
  left: 0px;
  right: 0px;
  top: 102px;
}
/* dashboard */
.dashboard-section,
.pages-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  background-color: #ffffff;
  width: 100%;
}
/* dashboard section title(header) */
.dash-sec-title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 0px 0px 20px;
  gap: 8px;
  width: 121px;
  height: 20px;
}
/* dash title text */
.dash-sec-title p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: #9d9fa2;
  letter-spacing: 3.5px;
}
/* dash content and page content width */
.dash-content,
.page-content {
  width: 100%;
}
/* dash box */
.dash-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 20px;
  gap: 16px;
  width: 232px;
  height: 152px;

  background: #ffffff;
}
/* dash select*/
.dash-select {
  position: relative;
  width: 100%;
  height: 22px;
}
/* dash */
.dash {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  position: absolute;
  height: 22px;
  left: 0px;
}
/* select heading */
.select-heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */
  color: #282828;
}
/* vector icon */
.vector-icon {
  position: absolute;
  right: 0px;
  top: 5px;
}
/* dash list */
.dash-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 0px 28px;
  gap: 12px;
  width: 100%;
}
/* list item */
.list-item {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */
  color: #5f6980;
}
.list-item1 {
  color: #282828;
}
/* dash option */
.dash-option {
  width: 232px;
  height: 46px;
  padding: 12px 20px;
  background: #ffffff;
}
/* select heading2 */
.select-heading2 {
  color: #5f6980;
}
/* pages section */
.pages-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  height: 128px;
}
.menu-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  padding: 12px 20px;
  gap: 62px;
  height: 44px;
  left: 0.08px;
  right: 0.08px;
  bottom: 0px;
  border-top: 1px solid #eaecf0;
}
#check {
  display: none;
}
#check:checked + .sidebar {
  left: 0%;
  transition: all 0.5s ease-in-out;
}
/* main container */
.main-container {
  height: 100%;
  padding: var(--md);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background: var(--white);
  padding: 16px;
  overflow: hidden;
  flex: 1;
}

header {
  width: 100%;
}

/* nav-block */
header .nav-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: var(--white);
}

/* nav brand block */
.nav-block .brand-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* brand image */
.brand-block .brand-img {
  width: 99px;
  height: 30px;
}
.brand-bar {
  display: flex;
  align-items: center;
  gap: 10px;
}
.brand-bar .hambar {
  margin-right: 12px;
  height: 30px;
}
/* avrtar btn*/
.avtar-btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-image: url("/images/Avatar.png");
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
}

/* search  */
.search,
.search-laptop {
  display: flex;
  margin-top: var(--mt);
  align-items: center;
  height: 46px;
  width: 100%;
  padding: 0px 16px;
  border: 1px solid #eaecf0;
  gap: 8px;
  border-radius: 6px;
}
.search-laptop {
  display: none;
}
/* search input */
.search .search-input,
.search-laptop .search-input {
  width: 100%;
  border: none;
  font-size: var(--fs);
  outline: none;
  background: none;
}

.search-input::placeholder {
  font-size: var(--fs);
}
/* action btn */
.action-btn {
  display: none;
}

.nav-profile-option span {
  display: flex;
  align-items: center;
  gap: 18px;
  transition: all 0.5s ease-in-out;
  flex: 1;
  width: 100%;
}

.nav-profile-option span:hover {
  background-color: #fff;
  color: #1b1a1a;
}

.nav-profile-option img {
  margin-left: 20px;
  height: 25px;
}
/* main section */
.main-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: var(--white);
  overflow: auto;
}

/* banner */
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  background: #282828;
  border-radius: var(--md);
  width: 100%;
}

/* banner title */
.banner .banner-title {
  font-family: var(--inter);
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  text-align: center;
  color: var(--white);
  font-size: 26px;
  line-height: 38px;
}

/* banner para */
.banner .banner-para {
  margin-top: 8px;
  font-family: var(--inter);
  font-style: normal;
  font-weight: 400;
  font-size: var(--fs);
  line-height: 22px;
  text-align: center;
  color: var(--white);
}

/* banner para */
.banner .upgrade-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  gap: 2px;
  border-radius: 39px;
  border: none;
}

/* banner upgrade button */
.banner.upgrade-btn .btn-text {
  margin-top: 2px;
  font-family: var(--inter);
  font-style: normal;
  font-weight: 700;
  font-size: var(--fs);
  line-height: 24px;
  text-align: center;
  color: var(--dark-grey);
}

/* metrics cards */
.metric-cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 100%;
}

.metric-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px 16px;
  width: 100%;
  height: 132px;
  background: #ffffff;
  /* Shadow/01 */
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
}

.metric-card .card-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: var(--fs);
  line-height: 22px;
  color: var(--light-grey1);
}

.metric-card .num-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 38px;
  color: var(--dark-sea-black);
}

.metric-card .inc-block {
  margin-top: 26px;
  display: flex;
  align-items: center;
  gap: var(--sm-gap);
}

.metric-card .inc-block .rate {
  padding: 2px 10px;
  border-radius: 100px;
  font-family: var(--inter);
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}

.metric-card .inc-block .inc-by {
  font-family: var(--inter);
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: var(--light-grey2);
}

/* plus rate bg and color */
.metric-card .plus-rate {
  background: var(--light-green);
  color: var(--green-sea);
}

/* negtive rate bg and color */
.metric-card .neg-rate {
  background: var(--light-red);
  color: #dc3545;
}

.metric-card .no-rate {
  background: var(--light-grey3);
  color: var(--dark-grey2);
}

/* performance-section */
.performance-section {
  width: 100%;
  background: var(--white);
  border-radius: 12px;
}

.perf-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px 0px 20px;
  height: 62px;
}

.perf-title {
  font-family: var(--inter);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
}

.performance-section .graph {
  margin-top: 24px;
  width: 100%;
}

.per-block {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding: 24px 0px;
}

.of-perf {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--sm-gap);
  color: var(--light-grey1);
}

.perf-text {
  font-family: var(--inter);
  font-style: normal;
  font-weight: 400;
  font-size: var(--fs);
  line-height: 22px;
}

/* install app */
.intall-section {
  margin-top: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: var(--white);
  border-radius: 12px;
}

.install-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 62px;
  padding: 0px 24px;
}

.install-header .header-title {
  font-family: var(--inter);
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
}

.install-header .dot-action-btn {
  display: flex;
  width: 24px;
  height: 24px;
  background: var(--white);
  align-items: center;
  border: none;
}
.intall-section .table-heading {
  background: #f9fafb;
}
.scroll-h {
  overflow: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.app-name-icon {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #282828;
  font-weight: 700;
}

.app-name-icon img {
  height: 20px;
  width: 22px;
}

.table .table-data {
  font-family: var(--inter);
  font-style: normal;
  font-weight: 400;
  font-size: var(--fs);
  line-height: 22px;
  color: var(--dark-grey2);
  padding: 27px 37px;
  border-bottom: 1px solid #eaecf0;
  width: 100px;
}
label {
  cursor: pointer;
}

footer {
  padding: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .pages {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.pages .page-num {
  font-family: var(--inter);
  font-style: normal;
  font-weight: 400;
  font-size: var(--fs);
  line-height: 22px;
}
footer .pages img {
  height: 24px;
}
@media (min-width: 768px) {
  .main-section {
    padding-top: 16px;
  }
  .metric-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px;
    width: 100%;
    justify-content: space-between;
    margin-top: 24px;
  }
  .performance-section {
    margin-top: 24px;
  }
  .metric-card {
    width: 48%;
    height: 132px;
  }
  .metric-card:nth-child(1) {
    margin-bottom: 16px;
  }
  .intall-section {
    margin-top: 24px;
  }
}
@media (min-width: 1024px) {
  .nav-block {
    padding: 0px 32px;
  }
  .main-container {
    gap: 0px;
    padding: 0px;
  }
  .search {
    display: none;
  }
  .search-laptop {
    display: flex;
    margin-top: 0px;
  }
  .main-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 32px;
    background: var(--light-grey3);
  }
  .metric-cards {
    margin-top: 32px;
    justify-content: start;
    gap: 32px;
  }

  .metric-card {
    flex: 1;
    height: 132px;
  }
  .metric-card:nth-child(1) {
    margin-bottom: 0px;
  }
  .performance-section {
    margin-top: 32px;
  }
  .brand-img {
    display: none;
  }
  .banner {
    flex-direction: row;
    justify-content: space-between;
  }
  .intall-section {
    margin-top: 32px;
  }
  .action-btn {
    display: flex;
    padding: 24px;
    gap: 24px;
    width: 40%;
    justify-content: right;
    align-items: center;
  }
}
